html {
    background-color: #F08080;
    font-family: "Helvetica Neue", "Arial", sans-serif;
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    background-color: #C0C0C0;
  }

i {
    padding: 25px;
    font-size: 50px;
}

i:hover {
    transform: scale(1.3);
}

.score {
    display: flex;
    justify-content: space-around;
}

.btn {
    border: none;
    text-align: center;
    background-color: grey;
    border-width: 2px;
    display: inline-block;
    font-size: 14px;
    padding: 15px 32px;
}

p {
    font-weight: bold;
}

